$Y: 'Yanone Kaffeesatz', sans-serif;
$T: 'Tillana', cursive;
$Q: 'Quicksand', sans-serif;
$C: 'Cairo', sans-serif;
$t-blue: #55aace;
$t-dark-blue: #292f33;

body {
	background-color: $t-dark-blue;
	margin: 0px;
}

input {
	outline: none !important;
}

.centered {
	max-width: 75%;
	margin: 0 auto;
}

container {	
	display: block;
	position: fixed;
	top: 0px;
	height: 100%;
	width: 768px;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	padding: 35px;
	animation-name: containerPageLoad;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;

	@media screen and (max-width: 992px) {
		width: 768px;
	}

	@media screen and (max-width: 768px) {
		width: 480px;
	}
}

header {
	color: $t-dark-blue;

	h1 {
		font-family: $Q;
		font-size: 40px;
		margin-bottom: 10px;
	}

	h2 {
		font-family: $Q;
		font-size: 18px;
	}

	h1, h2 {
		animation-name: headingPageLoad;
		animation-iteration-count: 1;
		animation-duration: 1.5s;
	}
}


#feed {
	height: 100%;
	#app {
		height: 100%;
	}
}


@keyframes containerPageLoad {
	0% {
		transform: translate(-50%, -100%);
	}

	100% {
		transform: translate(-50%, 0%);
	}
}

@keyframes headingPageLoad {
	0% {
		opacity: 0;
		transform: translate(-30px, -30px);
	}

	65% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}